html {
    font-family: sans-serif;
}

body {
    /* margin: 0 auto; */
    /* width: 100%; */
    max-width: 60ch;
    padding: 2rem;
    /* line-height: 1.6; */
    /* font-size: 12px */
}

h2 {
    font-weight:normal;
    font-size: 18px;
    margin: 0;
    margin-bottom: 18px;
}

p {
    font-size: 18px;;
    margin: 0;
    margin-bottom: 18px;
}

a {
    color: inherit;
    cursor: alias;
    font-weight:normal;
    font-size: 18px;
}

.hoverText {
    font-weight:normal;
    font-size: 18px;
    cursor: default;
}

.hoverText>div {
    display: none;
}

.hoverText:hover>div {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.hover-text {
    position: relative;
    cursor: pointer;
  }
  
  .hover-text::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 120%;
    width: 200px;
    height: 150px;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transform: translateX(-50%);
  }
  
  .hover-text:hover::after {
    opacity: 1;
    background-image: attr(data-img url);
  }
  