html {
    font-family: sans-serif;
}

body {
    /* margin: 0 auto; */
    /* width: 100%; */
    max-width: 60ch;
    padding: 2rem;
    /* line-height: 1.6; */
    /* font-size: 12px */
}

h2 {
    font-weight:normal;
    font-size: 18px;
    margin: 0;
    margin-bottom: 18px;
}

p {
    font-size: 18px;;
    margin: 0;
    margin-bottom: 18px;
}

a {
    color: inherit;
    cursor: alias;
}

.hover-image {
  position: relative;
  display: inline;
}

.hover-image img {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  max-height: 80vh;
  object-fit: contain;
  z-index: -1;
  pointer-events: none;
}

.hover-image:hover img {
  display: block;
}