html {
    font-family: sans-serif;
}

body {
    /* margin: 0 auto; */
    /* width: 100%; */
    max-width: 50ch;
    padding: 2rem;
    /* line-height: 1.6; */
    /* font-size: 12px */
}

h2 {
    font-weight:normal;
    font-size: 18px;
    margin: 0;
    margin-bottom: 18px;
}

p {
    font-size: 18px;;
    margin: 0;
    margin-bottom: 18px;
}

a {
    color: inherit;
    cursor: alias;
}

.hoverText {
    cursor: default;
}

.hoverText>div {
    display: none;
}

.hoverText:hover>div {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}