---
import "../styles/global.css";

// import Header from "../components/Header.astro";

// const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href= />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sean Mansfield</title>
	</head>
	<body>
		<!-- <Header title={frontmatter.title} /> -->
        <slot />
	</body>
</html>
